name: mkdocs 

on:
  push:
    branches:
      - "main"
    paths:
      - "docs/**"
  pull_request:
    paths:
      - "docs/**"

jobs:
  link-checker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: lychee
        id: lychee
        uses: lycheeverse/lychee-action@v1.3.2
        with:
          args: --verbose --no-progress './docs/docs/**/*.md'
          fail: true
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}

  deploy:
    runs-on: ubuntu-latest
    needs: 
      - link-checker
    if: github.event_name == 'push'
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v3.1.1
        with:
          python-version: 3.x
      - run: pip install mkdocs-material 
        working-directory: ./docs/
      - run: mkdocs gh-deploy --force
        working-directory: ./docs/
